commit.sh

push.sh

db.sqlite3

geckodriver.log

env/

media/img/avatars/

website/__pycache__/

website/settings/__pycache__/

*app/__pycache__/

*app/migrations/__pycache__/

*app/migrations/0*.py

*app/tests/__pycache__/

visitapp/tests/img_responsive/navbar/*.png

visitapp/tests/img_responsive/home/*.png

visitapp/tests/img_responsive/page_one/*.png

visitapp/tests/img_responsive/page_two/*.png


