{% load static %}
{% load bootstrap4 %}
{% load fontawesome_5 %}

<!DOCTYPE html>

<html lang="en">
        
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Starting Base django website">
        <meta name="author" content="JBthePenguin">
        <!-- Favicon -->
        <link rel='shortcut icon' type='image/x-icon' href="{% static 'visitapp/img/favicon.ico' %}" />
        <!-- Title -->
        <title>{{ title_site }} | {{ page_title }}</title>    
        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Spartan:bold|Oxanium&display=swap" rel="stylesheet">   
        {% fontawesome_5_static %}
        <!-- CSS -->
        {% bootstrap_css %}
        <link href="{% static 'visitapp/css/custom_styles.css' %}" rel="stylesheet">
    </head>

    <body>
        <!-- NAVBAR -->
        {% include 'visitapp/navbar.html' %}
        <!---->
        <!-- HEADER -->
        <header class="jumbotron jumbotron-fluid bg-secondary text-center px-2 mb-0">
            <div class="container bg-white py-1 rounded">
                {% block header %}{% endblock %}
            </div>
        </header>
        <!-- MAIN -->
        <main role="main" class="p-3 mt-0">
            <div class="container bg-dark text-white p-2 rounded">
                {% block main %}{% endblock %}
            </div>
        </main>
        <!-- FOOTER -->
        {% include 'visitapp/footer.html' %}
        <!-- SCRIPTS -->
        {% bootstrap_javascript jquery='full' %}
        <script src="{% static 'visitapp/js/custom_script.js' %}"></script>
        <!---->
    </body>

</html>
