<!-- Template for the navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <!-- logo -->
    <a class="navbar-brand" href="{% url 'index' %}">Simple django website</a>
    <!-- button for small screen -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav container">
            <!-- Home -->
            <li class="nav-item mx-auto">
                <a class="nav-link {{ home_in_nav }}" href="{% url 'index' %}">Home</a>
            </li>
            <!-- Here another links -->
            <li class="nav-item mx-auto">
                <a class="nav-link" href="">...</a>
            </li>
        </ul>
    </div>
</nav>
