{% load static %}
{% load fontawesome_5 %}

<!-- Template for the navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <!-- logo -->
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'visitapp/img/logo65.png' %}" class="img-fluid" alt="">{{ nav_brand }}</a>
    <!-- button for small screen -->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Links -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <!-- Home -->
            <li class="nav-item {{ home_in_nav }}">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <!-- Page one -->
            <li class="nav-item {{ page_one_in_nav }}">
                <a class="nav-link " href="{% url 'page one' %}">Page 1</a>
            </li>
            <!-- Page two -->
            <li class="nav-item {{ page_two_in_nav }}">
                <a class="nav-link " href="{% url 'page two' %}">Page 2</a>
            </li>
        </ul>
        <!-- login / signin buttons -->
        <ul class="navbar-nav ml-auto mr-2">
            <li class="nav-item {{ login_in_nav }}">
                <a class="nav-link" href="{% url 'login' %}">{% fa5_icon 'sign-in-alt' 'fas' %} Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{% fa5_icon 'user-plus' 'fas' %} Sign Up</a>
            </li>
        </ul>
    </div>
</nav>
