/* Fonts */
h1 {
  font-family: 'Spartan', sans-serif;
  font-size: 2rem;
}

nav, p {
  font-family: 'Oxanium', cursive;
}

.navbar-brand {
  font-size: 2rem;
}

.nav-link {
  font-size: 1.25rem;
}

/* Links */
a {
  outline: none;
}

/* Navbar */
.navbar-toggler:focus, .navbar-toggler:active {
  outline: none;
  box-shadow: none;
}
.nav-item {
  margin-right: 1rem;
  margin-left: 1rem;
}


/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 51px; /* Margin bottom by footer height */
  background-color: #c2c3c4 !important;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 51px; /* Set the fixed height of the footer here */
  line-height: 51px; /* Vertically center the text there */
}

/* Footer */
footer a {
  margin-right: 1rem;
  margin-left: 1rem;
}